{% load static %}

<div class="copyright text-center py-3 footer-bottom" style="color:#23540d;">
   CattleCam.nl 2021 © | Powered by <strong>ExploreData.ai</strong>
</div>



<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Bootstrap core JavaScript -->
<!-- <script src="{% static 'cattleweb/js/jquery-3.2.1.slim.min.js' %}"></script> -->
<script src="{% static 'cattleweb/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'cattleweb/js/popper.min.js' %}"></script>
<script src="{% static 'cattleweb/js/bootstrap.min.js' %}"></script>

<!-- Vendor JS Files -->
<script src="{% static 'pageviewer/js/main.js' %}"></script>


