{% load static %}



  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Schrijf u in voor de nieuwsbrief</h4>
            <p>Berichtgeving over de nieuwse ontwikkelingen direct in uw postvak</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Schrijf in">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>CattleCam<span>.</span></h3>
            <p>
              Nieuwe Wetering 4 <br>
              8294 PC <br>
              Mastenbroek <br><br>
              <strong>Telefoon:</strong> +31 6 44 5959 00<br>
              <strong>Email:</strong> info@cattlecam.nl<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        <div class="copyright text-center py-3 footer-bottom" style="color:#23540d;">
           CattleCam.nl 2021 &copy | Powered by <strong>ExploreData.ai</strong>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->



<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Bootstrap core JavaScript -->
<!-- <script src="{% static 'cattleweb/js/jquery-3.2.1.slim.min.js' %}"></script> -->
<script src="{% static 'cattleweb/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'cattleweb/js/popper.min.js' %}"></script>
<script src="{% static 'cattleweb/js/bootstrap.min.js' %}"></script>

<!-- Vendor JS Files -->
<script src="{% static 'pageviewer/js/main.js' %}"></script>


