{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<!-- Bootstrap core CSS -->
<link href="{% static 'cattleweb/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'cattleweb/css/cattlecam.css' %}" rel="stylesheet">
<link href="{% static 'cattleweb/css/fonts.css' %}" rel="stylesheet">
<link href="{% static 'cattleweb/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
<link href="{% static 'cattleweb/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'cattleweb/vendor/venobox/venobox.css' %}" rel="stylesheet">
<link href="{% static 'cattleweb/vendor/aos/aos.css' %}" rel="stylesheet">
<link href="{% static 'cattleweb/vendor/icofont/icofont.min.css' %}" rel="stylesheet"> <!-- Icons -->

<img src="{% static 'pageviewer/img/spacemaker.png' %}">


