<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">CattleCam&trade;</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% url 'pageviewer:index' as pageviewer_index_url %}
            <li class="nav-item {% if request.get_full_path == pageviewer_index_url %} active {% endif %}">
                <a class="nav-link" href="{% url 'pageviewer:index' %}">Home </a>
            </li>
            {% url 'survey:index' as survey_index_url %}
            <li class="nav-item {% if request.get_full_path == survey_index_url %} active {% endif %}">
                <a class="nav-link" href="{% url 'survey:index' %}">Enquête</a>
            </li>
        </ul>
    </div>
</nav>
