
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "cattleweb/components/header.html" %}
        <title>{% block title %} CattleCam {% endblock %}</title>
    </head>
    <body>

        {% include "cattleweb/components/navbar.html" %}
        {% block hero %} {% endblock %}
        {% block examples %} {% endblock %}
        {% block testimonials %} {% endblock %}
        {% block about %} {% endblock %}


        {% include "cattleweb/components/footer.html" %}
    </body>
</html>
