{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "cattleweb/components/header.html" %}
    <title>{% block title %} CattleCam {% endblock %}</title>

    {% block customheader %} {% endblock %}
</head>
<body>

{% include "cattleweb/components/navbar.html" %}
{% block product1 %} {% endblock %}
{% block hoogwaardig_product %} {% endblock %}
{% block product2 %} {% endblock %}
{% block prijzen %} {% endblock %}


{% include "cattleweb/components/footer.html" %}
</body>
</html>
