{% extends "cattleweb/layout/over-ons-layout.html" %}
{% load static %}

{% block title %} Test {% endblock %}
{% block customheader %} <link rel="stylesheet" href="{% static 'pageviewer/css/over-ons.css' %}">  {% endblock %}

{% block over_ons %}
<div class="about-section">
	<h1>Over Ons</h1>
	<p>
		Wij zijn een jong en gepassioneerd team van technische gasten die graag het gedrag van uw koeien in kaart willen brengen. Vul hier de enquete in.
		Met onze achtergrond in data mining, machine learning, mechatronica en data driven farming hebben we de unieke set aan kennis om u zo goed mogelijk van dienst te zijn.
		Maak hier onder kennis met de personen achter CattleCam en schroom niet omm ons persoonlijk te benaderen! Liefs... xoxox.
	</p>
</div>


{% endblock %}

{% block het_team %}
<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="{% static 'pageviewer/img/mark.jpg' %}" alt="Jan Willem" style="width:100%">
      <div class="container">
        <h2>Jan Willem</h2>
        <p class="title">Beunhaas 1</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>janwillem@cattlecam.nl</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'pageviewer/img/mark.jpg' %}" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mark</h2>
        <p class="title">Beunhaas 2</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mark@cattlecam.nl</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'pageviewer/img/willem.jpg' %}" alt="John" style="width:100%">
      <div class="container">
        <h2>Willem</h2>
        <p class="title">Beunhaas 3</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>willem@cattlecam.nl</p>
        <p><button class="button">Contact</button></p>
      </div>
	</div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'pageviewer/img/jorik.jpg' %}" alt="John" style="width:100%">
      <div class="container">
        <h2>Jorik</h2>
        <p class="title">Beunhaas 4</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jorik@cattlecam.nl</p>
        <p><button class="button">Contact</button></p>
      </div>
	</div>
  </div>

</div>
{% endblock %}




