{% extends "cattleweb/layout/fullwidth.html" %}
{% load static %}

{% block title %} CattleCam - Over Ons {% endblock %}
<!-- {% block customheader %} <link rel="stylesheet" href="{% static 'pageviewer/css/over-ons.css' %}">  {% endblock %} -->


{% block content %}

<section id="about" class="about section-bg">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h3>Hoogwaardige <span>Cameras</span></h3>
            <p>De cameras van Cattlecam zijn robuust en weerbestendig</p>
        </div>

        <div class="row">
            <div class="col-lg-6 aos-init aos-animate" data-aos="zoom-out" data-aos-delay="100">
                <img src="{% static 'pageviewer/img/camera_g4.png' %}" class="img-fluid"
                     alt="Deze afbeelding kon niet worden geladen.">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center aos-init aos-animate"
                 data-aos="fade-up" data-aos-delay="100">
                <h3>Cattlecam levert hoogwaardige en weerbestendige cameras.</h3>
                <p class="font-italic">
                    De lange levensduur van onze cameras is van belang voor eigenaar en leverancier. Cattlecam
                    garandeert een onderhoudsvrije installatie.
                </p>
                <ul>
                    <li>
                        <i class="bx bx-store-alt"></i>
                        <div>
                            <h5>Weerbestendige cameras van Amerikaanse makelij</h5>
                            <p>De cameras van CattleCam voldoen aan de IP67 waardering welke garant staat voor een zeer
                                hoge stof- en waterdichtheid. Geschikt voor zowel binnen als buiten gebruik en voldoen
                                aan alle keuringen en certificeringen voor de Europese markt.</p>
                        </div>
                    </li>
                    <li>
                        <i class="bx bx-images"></i>
                        <div>
                            <h5>Dag en nacht scherp beeld en helder geluid.</h5>
                            <p>De cameras van CattleCam zijn beschikbaar in beeldkwaliteit van 1080p full HD tot zelfs
                                haarscherp 4K. Dankzij de ingebouwde microfoon is het ook mogelijk uw vee te horen.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>


<section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Producten</h2>
          <h3><span>Cameras</span> en toebehoren</h3>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <img src="{% static 'pageviewer/img/camera_g3.png' %}" class="img-fluid" alt="camera_g3">
              <h4><a href="">Camera G3</a></h4>
              <p>Instap camera voor binnen gebruik. Ideaal voor een kleine setup. </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" style = "width: 2000px;" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <img src="{% static 'pageviewer/img/camera_g3_pro.png' %}" class="img-fluid" alt="camera_g4">
              <h4><a href="">Camera G3 PRO</a></h4>
              <p>Instap camera voor binnen en buiten gebruik.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <img src="{% static 'pageviewer/img/camera_g4.png' %}" class="img-fluid" alt="camera_g4">
              <h4><a href="">Camera G4</a></h4>
              <p>4K camera voor binnen gebruik</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <img src="{% static 'pageviewer/img/camera_g4_pro.png' %}" class="img-fluid" alt="camera_g4">
              <h4><a href="">Camera G4 PRO</a></h4>
              <p>4K camera voor binnen en buiten gebruik.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <img src="{% static 'pageviewer/img/dreammachine.png' %}" class="img-fluid" alt="camera_g4">
              <h4><a href="">CattleCam Beeldverwerker</a></h4>
              <p>De unieke beeldverwerker van CattleCam met gespecialiseerde beeldherkennings software.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <img src="{% static 'pageviewer/img/kip.png' %}" class="img-fluid" alt="camera_g4">
              <h4><a href="">Kip</a></h4>
              <p>Met gouden eieren.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


<section id="wifi" class="about section-bg">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h3>Bedrijfs dekkende  <span>Wifi</span></h3>
            <p>Waterdichte wifi antennes voor het hele bedrijf</p>
        </div>

        <div class="row">
            <div class="col-lg-6 aos-init aos-animate" data-aos="zoom-out" data-aos-delay="100">
                <img src="{% static 'pageviewer/img/wifi_mesh.png' %}" class="img-fluid"
                     alt="Deze afbeelding kon niet worden geladen.">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center aos-init aos-animate"
                 data-aos="fade-up" data-aos-delay="100">
                <h3>Cattlecam levert hoogwaardige en weerbestendige wifi antennes.</h3>
                <p class="font-italic">
                    Bij scherpe cameras hoort een snelle verbinding. Een dekkend netwerk over uw hele bedrijf met automatische overstap naar de dichtsbijzijnde antenne.
                </p>
                <ul>
                    <li>
                        <i class="bx bx-store-alt"></i>
                        <div>
                            <h5>Weerbestendige cameras van Amerikaanse makelij</h5>
                            <p>De cameras van CattleCam voldoen aan de IP67 waardering welke garant staat voor een zeer
                                hoge stof- en waterdichtheid. Geschikt voor zowel binnen als buiten gebruik en voldoen
                                aan alle keuringen en certificeringen voor de Europese markt.</p>
                        </div>
                    </li>
                    <li>
                        <i class="bx bx-images"></i>
                        <div>
                            <h5>Dag en nacht scherp beeld en helder geluid.</h5>
                            <p>De cameras van CattleCam zijn beschikbaar in beeldkwaliteit van 1080p full HD tot zelfs
                                haarscherp 4K. Dankzij de ingebouwde microfoon is het ook mogelijk uw vee te horen.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>



<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Prijzen</h2>
            <h3>Pakketten en <span>Prijzen</span></h3>
            <p>Onderstaande prijzen zijn exlusief installatie kosten en middelen.</p>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="box">
                    <h3>Gratis</h3>
                    <h4><sup>$</sup>0<span>,00</span></h4>
                    <ul>
                        <li>Je krijgt niks</li>
                        <li>Zelfs geen gratis pen</li>
                        <li>jij schrale schraper</li>
                        <li class="na">vet goeie camera</li>
                        <li class="na">mega stoere pen</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Koop Nu</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                <div class="box featured">
                    <h3>Enkele camara</h3>
                    <h4><sup>€</sup>129<span>,00</span></h4>
                    <ul>
                        <li>Weerbestendige camera</li>
                        <li>Nachtzicht functionaliteit</li>
                        <li>Life camera weergave</li>
                        <li>Pharetra massa</li>
                        <li class="na">Beeld opname en terugkijken</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div class="box">
                    <h3>3 pak camera</h3>
                    <h4><sup>€</sup>379<span>,00</span></h4>
                    <ul>
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li>Pharetra massa</li>
                        <li>Massa ultricies mi</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Koop Nu</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                <div class="box">
                    <span class="advanced">Haarscherp</span>
                    <h3>4K Camera</h3>
                    <h4><sup>€</sup>459<span>ex btw</span></h4>
                    <ul>
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li>Pharetra massa</li>
                        <li>Massa ultricies mi</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Pricing Section -->

{% endblock %}

