{% extends "cattleweb/layout/fullwidth.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Vragen {% endblock %}

{% block content %}

<section id="about" class="portfolio"></section>
    <div class="container" data-aos="fade-up">
        <div class="section-title">
        <!-- <h2>Enquête</h2> -->
        <h3>Marktonderzoek <span>Cattlecam.</span></h3>
        </div>
    </div>
</section>


<div class="container" data-aos="fade-up" style="margin-bottom: 20px;">
    <div class="row justify-content-start">
        <div class="col-8">
            <h1>{{form.title}}</h1>
            <p>{{form.desc}}</p>
            <hr color="#23540d">
            <form action="{% url 'survey:process' survey.id %} " method="post">
                {% crispy form form.helper %}
                <div class="row justify-content-between">
                    <div class="col text-right"><a class="btn btn-back" href="{% url 'survey:index' %}" role="button">Ga terug</a></div>
                    <div class="col"><input type="submit" name="submit" value="Volgende vraag" class="btn btn-enquete" id="submit-id-submit" /></div>
                </div>
            </form>
        </div>
    </div>
</div>





{% endblock %}