{% extends "cattleweb/layout/fullwidth.html" %}
{% load static %}

{% block title %} Survey {% endblock %}

{% block content %}

<section id="marktonderzoek" class="portfolio">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Enquête</h2>
        <h3>Neem deel aan ons <span>Marktonderzoek</span></h3>
        <p>Uw hulp wordt zeer gewaardeerd! Ontvang korting bij het volledig invullen van deze enquête. Het duurt ongeveer 5 minuten. </p>
      </div>

      
        <div class="d-flex">
            <a href="{% url 'survey:assess' survey_id=1 %}" class="btn-enquete scrollto">Start enquête</a>
        
      </div>

     
    </div>
  </section><!-- End Portfolio Section -->





<!-- <section id="Marktonderzoek" class="portfolio">
    <div class="container" data-aos="fade-up">

       
        <h1 class="display-4">Neem deel aan het marktonderzoek!</h1>
        <p class="lead">Ontvang korting bij het volledig invullen van de enquête.</p>
        <hr class="my-4">
        <p>Ongeveer 5 minuten:</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'survey:assess' survey_id=1 %}" role="button">Start enquête</a>
        </p>
        </div>
    </div>
</section> -->
{% endblock %}