{% extends "cattleweb/layout/singlecolumn.html" %}
{% load static %}

{% block title %} Survey {% endblock %}

{% block content %}
    {% if messages %}
      <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" role="alert">
              <p>{{ message }}</p>
          </div>
          {% endfor %}
        </div>

      </div>
    {% endif %}

    <h1 class="display-4">Neem deel aan het marktonderzoek!</h1>
    <p class="lead">Ontvang korting bij het volledig invullen van de enquête.</p>
    <hr class="my-4">
    <p>Ongeveer 5 minuten:</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'survey:assess' survey_id=1 %}" role="button">Start enquête</a>
    </p>


{% endblock %}