.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  justify-content: center;
  align-items: center;
}

.flex-item {
  background-color: grey;
  width: 500px;
  margin: 20px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-item-1 {
  flex-grow: 2;
}

.flex-item-2 {
  flex-grow: 1;
}